//- extends layout
//- 
//- block content
//-   include nav.pug
//-   div.content
//-     h3 Horoscopes
//- 
//-     br
//-     ul
//-       each horoscope, i in horoscopes
//-         li= horoscope.horoscope + "   " + horoscope.monthly.year2017['jan-18']
//-           //- a(href='/horoscopes/view/'+horoscope._id)= horoscope.horoscope



extends layout

block content
  include nav.pug
  div.content
    h3 Horoscopes
    br
    div.zodiacs
      each sign, i in list
        a(href="/horoscopes/zodiac_sign/"+sign)
          img(src="/imgs/" + sign + ".png")
