extends layout

block content
  div.welcome
    h1 Mahadeva
    p Through his study of Antarctic ice, Claude Lorius was the first scientist to prove the impact of human activity on our climate. His extraordinary life intermingles science and polar adventures. Wild-Touch and Luc Jacquet invite you to share this unprecedented epic to better understand the incredible phenomena that affect us all.
    
    nav.home-nav
      ul
        li
          a(href="/horoscopes") Horoscopes
        li
          a(href="#") Panchangam
        li
          a(href="#") Remedies
        li
          a(href="#") News &amp; Articles
