doctype html
html
  head
    title Mahadeva
    //- link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv="content-type", content="text/html; charset=utf-8" )
    
    link(rel='stylesheet' href='/css/app.css')
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
  body.bg
    block content
    br
    footer
      p Copyright &copy; 2018
