header
  div.logo
    h1 
      a(href="/") #{title}
  nav.main-nav
    ul
      li
        a(href="/horoscopes") Horoscopes
      li
        a(href="#") Panchangam
      li
        a(href="#") Remedies
        li
          a(href="#") News &amp; Articles
      
