doctype html
html
  head
    title Mahadeva
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv="content-type", content="text/html; charset=utf-8" )
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/moment/min/moment.min.js')
    script(src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
  body
    div.container
      block content
        br
        footer
        p Copyright &copy; 2018
      script(src='/js/main.js')
